* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(rgb(255, 255, 50),rgb(102, 102, 219));
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.memory-game {
border: 2px solid rgb(18, 18, 141);
display: flex;
flex-wrap: wrap;
perspective: 1000px;
width: 1200px;
margin: 0 auto;

}

.card {
    position: relative;
    border: 2px solid lime;
    width: 25%;
    height: 150px;
    transform-style: preserve-3d;
    transition: transform all .5s;
    margin: 5px;
    margin: 0 auto;

}

.card:active {
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    border: 2px solid ;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}
